@import "tailwindcss";
@reference utilities;


/* #colors */
:root {
  --usacs-red-light: #AF2F2E;
  --usacs-red-dark: #610C0B;

  --cream: #FBF4E4;
  --white: #ffffff;

  --text-dark: #2B2B2B;
  --text-muted: #6B6B6B;

  --border-light: #E6E2D6;

  --cream-light: #FBF4E4;
  --light-red-box: #e0c8c1;

  --resource-tile: #761413;

  --resource-circle: #AD736B;

  --brown: #54412F;

  --grey: #342606;
  


}








