@import "tailwindcss";
@reference utilities;

/* #colors */
:root {
  --usacs-red-light: #AF2F2E;
  --usacs-red-dark: #610C0B;

  --cream: #FBF4E4;
  --white: #ffffff;

  --text-dark: #2b2b2b;
  --text-muted: #6b6b6b;

  --border-light: #e6e2d6;

  --cream-light: #FBF4E4;
  --light-red-box: #e0c8c1;

  --resource-tile: #761413;

  --resource-circle: #AD736B;

  --brown: #54412F;

  --grey: #342606;
  


}








